Supported Browsers

%br
%br

%table(border=1)
	%tr
		%th Browser
		%th Version
		%th Status
		%th Video Type
		%th Platform
	%tr
		%td Mobile Safari
		%td 4.3
		%td supported
		%td mp4
		%td iOS
	%tr
		%td Android
		%td 2.3.4
		%td has issues
		%td mp4
		%td android
	%tr
		%td Safari
		%td 5
		%td supported
		%td mp4
		%td mac
	%tr
		%td Chrome/Chromium
		%td 12+
		%td supported
		%td webm
		%td mac, linux, windows
	%tr
		%td Opera
		%td 11
		%td supported
		%td webm
		%td mac, linux
	%tr
		%td Firefox
		%td 4+
		%td supported
		%td webm
		%td mac, linux
	%tr
		%td Fennec (Firefox mobile)
		%td 4+
		%td supported
		%td webm
		%td mac
	%tr
		%td Internet Explorer
		%td 9
		%td <b>not</b> supported
		%td mp4
		%td windows
