<html>
	<body>
		Error detecting browser! please use
		<ul>
			<li>Chrome/Chromium</li>
			<li>Firefox</li>
			<li>Opera</li>
			<li>Safari</li>
			<li>iOS</li>
			<li>Android</li>
		</ul>
	</body>
</html>
