%head
	%link{:href => "http://vjs.zencdn.net/c/video-js-css", :rel => "stylesheet" }
	%script{ :src => "http://vjs.zencdm.net/c/video.js" }

%body{ :style => "background-color:black;" }
	%center
		%video{:id => "video1",
			:class => "video-js vjs-default-skin",
			:controls => true,
			:preload => "auto",
			:autoplay => true,
			:data => { :setup => "{}" }}
			%source{:src => @movie}
