%center Movie Streaming Server Read Me

%br/

%p
Michael B. Kulik<br/>
6/23/2011<br/>
Copyright 2011<br/>
%br/


I. Operating System Prerequisites<br/>
%table
	%tr
		%td
		%td 1. tcl
	%tr
		%td
		%td 2. ruby
	%tr
		%td
		%td 3. ruby gems
	%tr
		%td
		%td 4. tk (optional)


<br/>
II. Usage<br/>

%table
	%tr
		%td ./mvsctl start
		%td - starts the server on http://127.0.0.1:8080/
	%tr
		%td ./mvsctl stop
		%td - stops the server
	%tr
		%td ./mvsctl devel
		%td - starts the server in development mode on http://127.0.0.1:8080/
	%tr
		%td ./mvsctl install
		%td - installs the the required ruby gems 
	%tr
		%td ./mvsctl build
		%td - creates a distributable install for the movie server
	%tr
		%td ./mvsctl change [path]
		%td - changes the location of the movie directory to the specified path

%br/
%br/

III. GUI

%table
	%tr
		%td A simple GUI is provided for non-commandline control (./mvsctl_gui)


